
<div class="col-sm-3 offset-sm-1 blog-sidebar">
<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p>I'm a software developer specializing in data-centric applications. I also read, write, run marathons and garden, and hold racing licenses with the SCCA and NHRA. I have a best marathon of 3:35, and a fastest quarter mile of 9.33 at 145 mph.  </p>
</div>

<%= source_helper("alert alert-info blog-sidebar-source") %>

<div class="sidebar-module">
  <h4>Topics</h4>
  <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
  <% end %>
</div>

<div class="sidebar-module">
  <h4>Elsewhere</h4>
  <ol class="list-unstyled social-links">
    <li><a href="https://github.com/josebrwn/"><%= fa_icon "github" %></a></li>
    <li><a href="https://www.instagram.com/josebrwn/"><%= fa_icon "instagram" %></a></li>
    <li><a href="https://www.facebook.com/josebrwn"><%= fa_icon "facebook" %></a></li>
    <li><a href="https://twitter.com/josebrwn"><%= fa_icon "twitter" %></a></li>
  </ol>
</div>
</div>