<div class="app-card-container">
  <div class="card">

    <h1>Contact Me</h1>
    <div class="col-xs-6 col-md-12">
      <p>I'm on <%= link_to 'Github', 'https://github.com/josebrwn/' %>,
      <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/josebrwn/' %>, 
      <%= link_to 'AngelList', 'https://angel.co/josebrwn' %>, 
      <%= link_to 'Twitter', 'https://twitter.com/josebrwn' %>, 
      and <%= link_to 'Facebook', 'https://www.facebook.com/josebrwn' %>.</p>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h3>Office Address</h3>

        <p>3355 N. 17th Avenue, Phoenix, AZ 85015</p>

      </div>

      <div class="col-xs-12 col-lg-8 google-map">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFYFYds1GEVZ0k_Ob6SzZg76vDVLqP9kc&q=33.487399,-112.095376" width="100%" height="450" frameborder="0" style="border:0" ></iframe>
      </div>
    </div>

  </div>
</div>