<div class="app-card-container">
  <div class="card">

    <h1>Contact Me</h1>
    <p>I'm on <%= link_to 'Github', 'https://github.com/josebrwn/' %>,
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/josebrwn/' %>, 
    <%= link_to 'AngelList', 'https://angel.co/josebrwn' %>, 
    <%= link_to 'Twitter', 'https://twitter.com/josebrwn' %>, 
    and <%= link_to 'Facebook', 'https://www.facebook.com/josebrwn' %>.</p>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Office Address</h3>

        <p>3355 N. 17th Avenue, Phoenix, AZ 85015</p>

      </div>

      <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.537169654546!2d-112.09756498491633!3d33.4873987807634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b1301fde5aab1%3A0x61f0a729da50203e!2s3355+N+17th+Ave%2C+Phoenix%2C+AZ+85015!5e0!3m2!1sen!2sus!4v1529695511493" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>