<h1>Contact Me</h1>
<p>I'm on <%= link_to 'Github', 'https://github.com/josebrwn/' %>,
<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/josebrwn/' %>, 
<%= link_to 'AngelList', 'https://angel.co/josebrwn' %>, 
<%= link_to 'Twitter', 'https://twitter.com/josebrwn' %>, 
and <%= link_to 'Facebook', 'https://www.facebook.com/josebrwn' %>.</p>
